:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.btn {
  background-color: green;
  border: 0;
  width: fit-content;
  padding: 18px 30px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 50px auto;
}

.btn:hover {
  background-color: rgb(0, 99, 0);
}

h1 {
  color: white;
  padding: 18px 30px;
  border: 2px solid teal;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}


input{
  width: fit-content;
  margin: auto;
  padding: 15px;
  padding-right: 50px;
  margin-bottom: 25px;
  font-weight: bold;
  color: black;
  border-radius: 7px;
  border: none;
  background-color: white;
  font-size: 20px;
}

input::placeholder{
  font-size: 15px;
}

input:focus{
  outline: none;
}


label{
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

.textarea{
  background-color: white;
  color: white;
}
h2,
h4{
  color: white;
}

.div {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 10px;         
  width: fit-content;
  margin: auto;
  direction: rtl;
}



textarea{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.inputs-radio{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.inputs-radio div{
  display: flex;
  align-items: center;
  gap: 10px;
}