.btn {
  background-color: green;
  border: 0;
  width: fit-content;
  padding: 18px 30px;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 50px auto;
}

.btn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(0, 99, 0);
}

h1 {
  padding: 18px 30px;
  border: 2px solid teal;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

/* 
input{
  width: fit-content;
  margin: auto;
  padding: 15px;
  padding-right: 50px;
  margin-bottom: 25px;
  font-weight: bold;
  color: black;
  border-radius: 7px;
  border: none;
  background-color: white;
  font-size: 20px;
}

input::placeholder{
  font-size: 15px;
}

input:focus{
  outline: none;
} */

label {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

.textarea {
  background-color: white;
  color: white;
}
h2,
h4 {
  color: white;
}

.div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  margin: auto;
  direction: rtl;
}

textarea {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.inputs-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.inputs-radio div {
  display: flex;
  align-items: center;
  gap: 10px;
}
