.side{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.side:hover{
    background-color:rgb(114, 28, 194);
}

img{
    background-color: white;
    border-radius: 7px;
    padding: 10px 20px;
}

