.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.827); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.overlay h2 {
    background-color: white;
    color: black;
    padding: 35px 0;
    font-weight: bold;
    font-size: 35px;
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    z-index: 999;
}